snippet log
	console.log($1)
	
snippet warn
	console.warn($1)
	
snippet table
	console.table($1)

snippet arrow
	const $1 = () => {
		$2
	}

snippet alert 
	alert("$1")
snippet func
	function $1() {
		$2
	}
	
snippet if
	if ($1) {
		$2
	}

snippet ifelse 
	if ($1) {
		$2
	}else {
		$3
	}

snippet while 
	while($1) {
		$2
	}

snippet for
	for($1; $2; $3) {
		$4
	}
snippet funcAuto 
	(() => {
		
	})()